.site-content {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
}

.page-leave-active{
  transition: opacity 0.1s;
}
.page-enter-active {
  transition: opacity .25s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

/* massage page */

.praxisraum {
  padding-top: 1.5rem !important;
}

.praxisraum-txt{
  position: absolute;
  bottom: 8%;
  left: 10%;
  font-weight: 200;
  color: $light;
}
