/* phone */
@media (max-width: 768px) {
    .about-me-img {
        width: 196px !important;
        height: 196px !important;
        padding-top: 0px !important;
    }

    .center-on-mobile {
        text-align: center;
    }
}

/* tablet */
@media (max-width: 1023) {
    .about-me-img {
        width: 256px !important;
        height: 256px !important;
        padding-top: 0px !important;
    }
}
