.symptom-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  animation: 0.5s appear;
}

.symptom-img {
  border-radius: 35px;
}

@media (max-width: 768px) {
  .card-image {
    padding-left: 15% !important;
    padding-right: 15% !important;
  }
}

.symptom-overlay {
  opacity: 0;
  border-radius: 35px;
}

.symptom-overlay:hover {
  animation: 0.3s appear50;
  opacity: 50%;
  background-color: $black;
  color: $white;
}
.symptom-overlay-txt {
  width: 100%;
}

.symptome .card {
  box-shadow: none;
  text-align: center;
}

.symptome .card-content {
  padding: 0.4rem !important;
}

.symptom-title {
  font-weight: 500;
  color: $dark;
  font-size: 1.25em;
}
.symptom-title:hover {
  color: $blue !important;
}

@media (max-width: 768px) {
    .sfloating-img{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
  }
  
@media (min-width: 768px) {
  .sfloating-img {
    float: right;
    width: 300px;
    height: 225px;
    
  }
}

